.opening-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  background-color: #000;
  z-index: 200;
}

.site-title {
  display: flex;
  justify-content: center;
  font-size: 2.4rem;
  color: #fff;
  mix-blend-mode: difference;
  overflow: hidden;
  padding: 0.2rem 0;
}

.site-title--alphabet {
  position: relative;
}
